# Copy this file to .env.local and fill in your actual values

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://gqwgctyarmxpuhivdmip.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdxd2djdHlhcm14cHVoaXZkbWlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUxNTk3MTksImV4cCI6MjA3MDczNTcxOX0.g8su3WCyZycaNPC00hyq5MONQtLZJFfOUanpsIW9VPo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdxd2djdHlhcm14cHVoaXZkbWlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTE1OTcxOSwiZXhwIjoyMDcwNzM1NzE5fQ._AV8nff4LqvXc4x5W2pv5fSNxbaby80963hWuAZ-DHI


#dOo96tCg3IjRoBsR